* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0; 
}

.right {
    order: 2;
    width: 90%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c91c1c;
    padding: 20px 0; 
}

.left {
    order: 1;
    width: 90%; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.rooms {
    width: 100%;
    aspect-ratio: 4 / 3; 
    position: relative;
    display: grid;
    grid-template-columns: 38fr 16fr 22fr 23fr ;
    grid-template-rows: 34fr 32fr 32.5fr ;
    grid-template-areas: 
    "room-one . room-two room-three"
    "room-four . . . "
    "room-four . room-five room-six"
    ;
}

.image-rooms{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
.R{ color: white; z-index: 1;}
.room-one{ grid-area: room-one; background-color: rgba(65, 24, 199, 0.476);}
.room-two{ grid-area: room-two; background-color: rgba(13, 171, 145, 0.476);}
.room-three{ grid-area: room-three; background-color: rgba(199, 24, 24, 0.476);}
.room-four{ grid-area: room-four; background-color: rgba(225, 240, 16, 0.537);}
.room-five{ grid-area: room-five; background-color: rgba(65, 255, 12, 0.47);}
.room-six{ grid-area: room-six; background-color: rgba(20, 44, 197, 0.568);}



@media (min-width: 1024px) {
    .container {
        height: 100vh;
        flex-direction: row;
        padding: 0;
    }
    
    .right {
        order: 1; 
        width: 30%;
        height: 100vh;
        padding: 0;
    }
    
    .left {
        order: 2; 
        width: 70%;
        height: 100vh;
        display: flex;
        align-items: center; 
        justify-content: center; 
        padding: 0;
    }

    .rooms {
        width: 90%; 
        max-width: 900px; 
        aspect-ratio: 16 / 9; 
    }
}